 <label for="student_batch"><%=t('app.views.student._list_batches.batch')%></label>
      <div class="text-input-bg" >
 <%= select :search, :batch_id_equals, @batches.map{|c| [c.name+"["+c.start_date.strftime("%b %Y")+"-"+c.end_date.strftime("%b %Y")+"]", c.id]},{:prompt=>t('app.views.student._list_batches.select_batch')} %>
      </div>
