<div class="label-field-pair"><label>
  <%= t('app.views.student_attendance._month.select_a_month_&_year') %>
</label>
<div class="text-input-bg2">
<%= select :advance_search, :month,
  {t('app.views.student_attendance._month.jan')=>"01",t('app.views.student_attendance._month.feb_02')=>"02",t('app.views.student_attendance._month.mar_03')=>"03",t('app.views.student_attendance._month.apr_04')=>"04",t('app.views.student_attendance._month.may_05')=>"05",t('app.views.student_attendance._month.jun_06')=>"06",t('app.views.student_attendance._month.jul_07')=>"07",t('app.views.student_attendance._month.aug_08')=>"08",t('app.views.student_attendance._month.sep_09')=>"09",t('app.views.student_attendance._month.oct_10')=>"10",t('app.views.student_attendance._month.nov_11')=>"11",t('app.views.student_attendance._month.dec_12')=>"12"},
  {:prompt => t('app.views.student_attendance._month.month')} %>
</div>
<div id="year"><%= render :partial => 'year' %></div>
</div>