<div class="label-field-pair">
  <label><%= t('app.views.attendance_report._mode.select_mode') %> </label>
 
<div class="text-input-bg">
<%= select :mode, :id,
  {t('app.views.attendance_report._mode.monthly')=>"Monthly", t('app.views.attendance_report._mode.overall')=>"Overall"},
  {:prompt => t('app.views.attendance_report._mode.select_mode_')},
  {:onchange => "#{remote_function(
  :url => { :action => 'show' },
  :with => "'mode='+value+'&batch_id='+#{@batch.id}+'&subject_id='+#{@subject}",
  :before => "Element.show('loader')",
  :success => "Element.hide('loader')"  )}"} %>
</div> </div>