<div class="link-box">
  <div class="link-heading">
    <%= link_to t('app.views.finance._student_index.reports'), 
                :action => "student_reports_index" %>
  </div>
  <div class="link-descr">
    <%=t('app.views.finance._student_index.reports_desc')%>
  </div>
</div>
