<div class="label-field-pair">
  <label>Category:</label>
  <div class="text-input-bg">
<%= select :transaction, :category_id, @categories.map { |c| [c.name, c.id]}, {:prompt => 'Select category'} %>
  </div>
</div>

<%= submit_tag "Request Report", :class=>'submit_button' unless @categories.empty? %>
